<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

</head>
<body>

<div class="container">
<button class="btn btn-success my-3" onclick="showMsgs()" id="btnMsg">Get Messages</button>
</div>

<div class="container mb-3" id="msgs" style="display: none;">
	<div class="row">
		<div class="col-6 py-2" style="border:2px solid gray">
			<ol>
			{% for message in messages|slice:35 %}
			<li class="h6">
				{% if forloop.counter|divisibleby:2 %}
				<button class="btn btn-outline-danger btn-sm" onclick="displayInfo(this)">{{ message.0 }}</button>
				{% else %}
				<button class="btn btn-outline-success btn-sm" onclick="displayInfo(this)">{{ message.0 }}</button>
				{% endif %}
			    <span class="text-muted mt-2 pb-1" style="display:none;">{{ message.1 }}</span>
			</li>
			{% endfor %}
			</ol>
		</div>
		<div class="col-6 py-2" style="border:2px solid gray">
			<ol start="36">
			{% for message in messages|slice:'35:' %}
				<li class="h6">
					<button class="btn btn-outline-success btn-sm" onclick="displayInfo(this)">{{ message.0 }}</button>
				    <span class="text-muted" style="display: none;">{{ message.1 }}</span>
				</li>
			{% endfor %}
			</ol>
		</div>
	</div>
</div>

<script>

function showMsgs() {
  var msgDiv = document.getElementById("msgs");
  if (msgDiv.style.display === "none") {
    msgDiv.style.display = "block";
    document.getElementById("btnMsg").innerText = "Hide Messages"
  } else {
    msgDiv.style.display = "none";
    document.getElementById("btnMsg").innerText = "Get Messages"
  }
}

function displayInfo(element){
	// console.log(element.nextElementSibling);
	element.nextElementSibling.style.display = 'block';
	setTimeout(function () 
		{element.nextElementSibling.style.display='none'}, 5000);
}



</script>
</body>
</html>